<article class="card bg-dark text-white" *ngIf="profile">
  <div class="card-body">
    <img src="{{ profile.avatar_url }}" width="350px" alt="" />
    <h2 class="card-title">{{ profile.login | titlecase }}</h2>

      <section class="row follow-section">
        <div class="col-6">
          <h4>Seguidores: {{ profile.followers }}</h4>
        </div>
        <div class="col-6">
          <h4>Siguiendo: {{ profile.following }}</h4>
        </div>
    </section>

    <section class="row">
      <div class="col-12">
        <h4>Repositorios: {{ profile.public_repos }}</h4>
      </div>
    </section>

    <section class="row mt-2 mb-2">
        <h6>{{ profile.bio }}</h6>
    </section>

    <section class="row">
      <div class="col-12 mt-4 mb-2">
        <a href="{{ profile.html_url }}" class="btn btn-info btn-block">Ver perfil</a>
      </div>
    </section>

  </div>
</article>
